<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb1_reduced.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,167}</string>
                <key>spriteSourceSize</key>
                <string>{65,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb2_reduced.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,162}</string>
                <key>spriteSourceSize</key>
                <string>{167,162}</string>
                <key>textureRect</key>
                <string>{{65,0},{167,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb3_reduced.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,129}</string>
                <key>spriteSourceSize</key>
                <string>{167,129}</string>
                <key>textureRect</key>
                <string>{{232,0},{167,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb_.png</string>
            <key>size</key>
            <string>{399,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c207466c731f84f827357adb5f6cde64:59c1fd710e4f98c0cf96c8c7ac17750b:20301478e24ee7312a1ba5894d10b1b7$</string>
            <key>textureFileName</key>
            <string>bomb_.png</string>
        </dict>
    </dict>
</plist>
