<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>powerUp_2bombs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,113}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{167,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powerUp_Ghost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,95}</string>
                <key>textureRect</key>
                <string>{{0,113},{167,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powerUp_Life.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,132}</string>
                <key>spriteSourceSize</key>
                <string>{167,132}</string>
                <key>textureRect</key>
                <string>{{0,208},{167,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powerUp_RangeX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,159}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{0,340},{167,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powerUp_RangeY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,167}</string>
                <key>spriteSourceSize</key>
                <string>{159,167}</string>
                <key>textureRect</key>
                <string>{{0,499},{159,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>powerUp.png</string>
            <key>size</key>
            <string>{167,666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27ab741b4f3eaec99a3052c1e1623bf6:efd186fd90557318abee1db14ab7c3d4:1522da2b3cc1103f73673d4a008155b8$</string>
            <key>textureFileName</key>
            <string>powerUp.png</string>
        </dict>
    </dict>
</plist>
