<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>powerUp_2bombs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,256}</string>
                <key>spriteSourceSize</key>
                <string>{377,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{377,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powerUp_Ghost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,224}</string>
                <key>spriteSourceSize</key>
                <string>{393,224}</string>
                <key>textureRect</key>
                <string>{{0,256},{393,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powerUp_Life.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,316}</string>
                <key>spriteSourceSize</key>
                <string>{401,316}</string>
                <key>textureRect</key>
                <string>{{0,480},{401,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powerUp_RangeX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,264}</string>
                <key>spriteSourceSize</key>
                <string>{277,264}</string>
                <key>textureRect</key>
                <string>{{0,796},{277,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powerUp_RangeY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,296}</string>
                <key>spriteSourceSize</key>
                <string>{281,296}</string>
                <key>textureRect</key>
                <string>{{0,1060},{281,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>powerUp.png</string>
            <key>size</key>
            <string>{401,1356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c5b0a428c36319b5fdaf0e55d28e1c2:a012cd175cd90ff89398f1e088fea506:1522da2b3cc1103f73673d4a008155b8$</string>
            <key>textureFileName</key>
            <string>powerUp.png</string>
        </dict>
    </dict>
</plist>
