<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player2_bottomWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,162}</string>
                <key>spriteSourceSize</key>
                <string>{167,162}</string>
                <key>textureRect</key>
                <string>{{160,334},{167,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_bottomWalk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{285,0},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_sideWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,167}</string>
                <key>spriteSourceSize</key>
                <string>{144,167}</string>
                <key>textureRect</key>
                <string>{{141,0},{144,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,167}</string>
                <key>spriteSourceSize</key>
                <string>{160,167}</string>
                <key>textureRect</key>
                <string>{{0,334},{160,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_topWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,167}</string>
                <key>spriteSourceSize</key>
                <string>{141,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{141,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_topWalk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,167}</string>
                <key>spriteSourceSize</key>
                <string>{150,167}</string>
                <key>textureRect</key>
                <string>{{0,167},{150,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_topWalk03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,167}</string>
                <key>spriteSourceSize</key>
                <string>{157,167}</string>
                <key>textureRect</key>
                <string>{{150,167},{157,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player2.png</string>
            <key>size</key>
            <string>{430,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4593cb0abee70c5a682daa636a9d54c5:2a2ee1baae252a30192d48ca7460a224:e90b857f8d265021c26c0c17c1d7d942$</string>
            <key>textureFileName</key>
            <string>player2.png</string>
        </dict>
    </dict>
</plist>
