<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player2_bottomWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,201}</string>
                <key>spriteSourceSize</key>
                <string>{121,201}</string>
                <key>textureRect</key>
                <string>{{0,0},{121,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_bottomWalk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,207}</string>
                <key>spriteSourceSize</key>
                <string>{121,207}</string>
                <key>textureRect</key>
                <string>{{121,0},{121,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,174}</string>
                <key>spriteSourceSize</key>
                <string>{150,174}</string>
                <key>textureRect</key>
                <string>{{242,0},{150,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,181}</string>
                <key>spriteSourceSize</key>
                <string>{150,181}</string>
                <key>textureRect</key>
                <string>{{392,0},{150,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,191}</string>
                <key>spriteSourceSize</key>
                <string>{121,191}</string>
                <key>textureRect</key>
                <string>{{542,0},{121,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_sideWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,201}</string>
                <key>spriteSourceSize</key>
                <string>{121,201}</string>
                <key>textureRect</key>
                <string>{{663,0},{121,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_sideWalk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,207}</string>
                <key>spriteSourceSize</key>
                <string>{121,207}</string>
                <key>textureRect</key>
                <string>{{784,0},{121,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,201}</string>
                <key>spriteSourceSize</key>
                <string>{121,201}</string>
                <key>textureRect</key>
                <string>{{905,0},{121,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_topWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,201}</string>
                <key>spriteSourceSize</key>
                <string>{121,201}</string>
                <key>textureRect</key>
                <string>{{1026,0},{121,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_topWalk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,207}</string>
                <key>spriteSourceSize</key>
                <string>{121,207}</string>
                <key>textureRect</key>
                <string>{{1147,0},{121,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player2.png</string>
            <key>size</key>
            <string>{1268,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0df946666d15fefc6acb3c92fe904b:ccaa36c10cb6e07513d6eee958c6a533:e90b857f8d265021c26c0c17c1d7d942$</string>
            <key>textureFileName</key>
            <string>player2.png</string>
        </dict>
    </dict>
</plist>
