<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1_bottomWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,201}</string>
                <key>spriteSourceSize</key>
                <string>{120,201}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_bottomWalk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,207}</string>
                <key>spriteSourceSize</key>
                <string>{120,207}</string>
                <key>textureRect</key>
                <string>{{120,0},{120,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,174}</string>
                <key>spriteSourceSize</key>
                <string>{150,174}</string>
                <key>textureRect</key>
                <string>{{240,0},{150,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_sideWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,201}</string>
                <key>spriteSourceSize</key>
                <string>{120,201}</string>
                <key>textureRect</key>
                <string>{{390,0},{120,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_sideWalk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,207}</string>
                <key>spriteSourceSize</key>
                <string>{120,207}</string>
                <key>textureRect</key>
                <string>{{510,0},{120,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_sit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,181}</string>
                <key>spriteSourceSize</key>
                <string>{150,181}</string>
                <key>textureRect</key>
                <string>{{630,0},{150,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,201}</string>
                <key>spriteSourceSize</key>
                <string>{120,201}</string>
                <key>textureRect</key>
                <string>{{780,0},{120,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_topWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,201}</string>
                <key>spriteSourceSize</key>
                <string>{120,201}</string>
                <key>textureRect</key>
                <string>{{900,0},{120,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_topWalk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,207}</string>
                <key>spriteSourceSize</key>
                <string>{120,207}</string>
                <key>textureRect</key>
                <string>{{1020,0},{120,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player1.png</string>
            <key>size</key>
            <string>{1140,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9005adebc77a2a9629b1b2fae4990cd5:d1f4ef417f73fad953ae942518260b7b:e747f5312c3d452c9fc2c2ace0f0a9fb$</string>
            <key>textureFileName</key>
            <string>player1.png</string>
        </dict>
    </dict>
</plist>
