<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1_bottomWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,167}</string>
                <key>spriteSourceSize</key>
                <string>{163,167}</string>
                <key>textureRect</key>
                <string>{{0,334},{163,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_bottomWalk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,167}</string>
                <key>spriteSourceSize</key>
                <string>{133,167}</string>
                <key>textureRect</key>
                <string>{{124,0},{133,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_sideWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,167}</string>
                <key>spriteSourceSize</key>
                <string>{124,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,167}</string>
                <key>spriteSourceSize</key>
                <string>{161,167}</string>
                <key>textureRect</key>
                <string>{{147,167},{161,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_topWalk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,167}</string>
                <key>spriteSourceSize</key>
                <string>{164,167}</string>
                <key>textureRect</key>
                <string>{{163,334},{164,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_topWalk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,167}</string>
                <key>spriteSourceSize</key>
                <string>{147,167}</string>
                <key>textureRect</key>
                <string>{{0,167},{147,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_topWalk03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,167}</string>
                <key>spriteSourceSize</key>
                <string>{136,167}</string>
                <key>textureRect</key>
                <string>{{257,0},{136,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player1.png</string>
            <key>size</key>
            <string>{393,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e860a9989298afa37bfab277b626b09:fb14384e03ee5cbd1e34f39a3c2871b1:e747f5312c3d452c9fc2c2ace0f0a9fb$</string>
            <key>textureFileName</key>
            <string>player1.png</string>
        </dict>
    </dict>
</plist>
